In [21]:
import ConfigParser
import pandas as pd

# Get Configurations

All configs should be put in config.ini and placed within the same directory as this notebook.

#### Template for config.ini

[Oanda]

accountnumber = ....

apikey = ....

In [3]:
config = ConfigParser.ConfigParser()

In [4]:
config.read('config.ini')

['config.ini']

In [7]:
apikey = config.get('Oanda', 'apikey')

In [8]:
accountnumber = config.get('Oanda', 'accountnumber')

# Import Oanda Python API Wrapper

Please note that we are not using Oanda's REST API directly

Documentation: http://oanda-api-v20.readthedocs.io/en/latest/installation.html

In [11]:
import oandapyV20

In [100]:
from oandapyV20 import API
import oandapyV20.endpoints.pricing as pricing
import oandapyV20.endpoints.accounts as accounts
import oandapyV20.endpoints.instruments as instruments
import oandapyV20.endpoints.orders as orders
import oandapyV20.endpoints.trades as trades

# Initiate API

In [13]:
api = API(access_token=apikey)

# Test: Get the list of all tradeable instruments

In [43]:
r = accounts.AccountInstruments(accountID=accountnumber)
rv = api.request(r)

In [48]:
tradeableIns = pd.DataFrame(rv['instruments'])
tradeableIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 12 columns):
displayName                    124 non-null object
displayPrecision               124 non-null int64
marginRate                     124 non-null object
maximumOrderUnits              124 non-null object
maximumPositionSize            124 non-null object
maximumTrailingStopDistance    124 non-null object
minimumTradeSize               124 non-null object
minimumTrailingStopDistance    124 non-null object
name                           124 non-null object
pipLocation                    124 non-null int64
tradeUnitsPrecision            124 non-null int64
type                           124 non-null object
dtypes: int64(3), object(9)
memory usage: 11.7+ KB

In [49]:
# Well, the list is long. Let's just take a peek
tradeableIns.head(20)

,displayName,displayPrecision,marginRate,maximumOrderUnits,maximumPositionSize,maximumTrailingStopDistance,minimumTradeSize,minimumTrailingStopDistance,name,pipLocation,tradeUnitsPrecision,type
0,Gold/JPY,0,0.02,50000,0,100000,1,50,XAU_JPY,1,0,METAL
1,Taiwan Index,1,0.05,1000,0,10000.0,1,5.0,TWIX_USD,0,0,CFD
2,Gold/CAD,3,0.02,50000,0,100.000,1,0.050,XAU_CAD,-2,0,METAL
3,CAD/CHF,5,0.02,100000000,0,1.00000,1,0.00050,CAD_CHF,-4,0,CURRENCY
4,NZD/CHF,5,0.02,100000000,0,1.00000,1,0.00050,NZD_CHF,-4,0,CURRENCY
5,EUR/GBP,5,0.02,100000000,0,1.00000,1,0.00050,EUR_GBP,-4,0,CURRENCY
6,EUR/JPY,3,0.02,100000000,0,100.000,1,0.050,EUR_JPY,-2,0,CURRENCY
7,Singapore 30,2,0.02,3000,0,1000.00,1,0.50,SG30_SGD,-1,0,CFD
8,USD/CZK,5,0.05,100000000,0,1.00000,1,0.00050,USD_CZK,-4,0,CURRENCY
9,GBP/NZD,5,0.02,100000000,0,1.00000,1,0.00050,GBP_NZD,-4,0,CURRENCY
10,NZD/HKD,5,0.02,100000000,0,1.00000,1,0.00050,NZD_HKD,-4,0,CURRENCY
11,SGD/JPY,3,0.02,100000000,0,100.000,1,0.050,SGD_JPY,-2,0,CURRENCY
12,USD/NOK,5,0.02,100000000,0,1.00000,1,0.00050,USD_NOK,-4,0,CURRENCY
13,EUR/DKK,5,0.02,100000000,0,1.00000,1,0.00050,EUR_DKK,-4,0,CURRENCY
14,EUR/PLN,5,0.05,100000000,0,1.00000,1,0.00050,EUR_PLN,-4,0,CURRENCY
15,Silver/CHF,5,0.05,1000000,0,1.00000,1,0.00050,XAG_CHF,-4,0,METAL
16,France 40,1,0.02,2000,0,10000.0,1,5.0,FR40_EUR,0,0,CFD
17,EUR/AUD,5,0.02,100000000,0,1.00000,1,0.00050,EUR_AUD,-4,0,CURRENCY
18,TRY/JPY,3,0.05,100000000,0,100.000,1,0.050,TRY_JPY,-2,0,CURRENCY
19,Gold/Silver,3,0.05,50000,0,100.000,1,0.050,XAU_XAG,-2,0,METAL

# Test: Get some pricing info

In [62]:
# Let's create a random list of instruments real quick
selectedIns = tradeableIns.sample(frac=0.2)
InsText = ','.join([name for name in selectedIns.name])
params ={'instruments': InsText}
selectedIns.count()

displayName                    25
displayPrecision               25
marginRate                     25
maximumOrderUnits              25
maximumPositionSize            25
maximumTrailingStopDistance    25
minimumTradeSize               25
minimumTrailingStopDistance    25
name                           25
pipLocation                    25
tradeUnitsPrecision            25
type                           25
dtype: int64

In [58]:
# Set  up PricingInfo
r = pricing.PricingInfo(accountID=accountnumber, params=params)

In [59]:
# Get the response
rv = api.request(r)

In [60]:
# Cache the response into Pandas DataFrame
raw_pricing = pd.DataFrame(r.response['prices'])

In [61]:
# Clean up the mess
pricing = raw_pricing.copy()
pricing.asks = pricing.asks.apply(lambda x: x[0]['price'])
pricing.bids = pricing.bids.apply(lambda x: x[0]['price'])
pricing['Available Short Units'] = pricing.unitsAvailable.apply(lambda x: x['default']['short'])
pricing['Available Long Units'] = pricing.unitsAvailable.apply(lambda x: x['default']['long'])
pricing.drop(['quoteHomeConversionFactors', 'unitsAvailable'], axis=1)

,asks,bids,closeoutAsk,closeoutBid,instrument,status,time,tradeable,type,Available Short Units,Available Long Units
0,1.79243,1.79189,1.79243,1.79189,GBP_SGD,tradeable,2017-11-22T15:30:12.337306326Z,True,PRICE,3765343,3765343
1,1.30619,1.30588,1.30619,1.30588,GBP_CHF,tradeable,2017-11-22T15:30:14.023568805Z,True,PRICE,3765343,3765343
2,4.167,4.157,4.167,4.157,WHEAT_USD,tradeable,2017-11-22T15:29:00.020300352Z,True,PRICE,100000,100000
3,8.38600,8.38390,8.38600,8.38390,USD_SEK,tradeable,2017-11-22T15:30:14.349694781Z,True,PRICE,5000000,5000000
4,23551.8,23550.2,23552.8,23549.1,US30_USD,tradeable,2017-11-22T15:30:11.329063539Z,True,PRICE,200,200
5,1094.039,1093.640,1094.039,1093.640,XAU_EUR,tradeable,2017-11-22T15:30:15.043425510Z,True,PRICE,2000,2000
6,5.35306,5.35134,5.35306,5.35134,NZD_HKD,tradeable,2017-11-22T15:30:14.917771910Z,True,PRICE,7296820,7296820
7,265.751,265.570,265.751,265.570,USD_HUF,tradeable,2017-11-22T15:30:14.647273104Z,True,PRICE,2000000,2000000
8,0.14806,0.14781,0.14806,0.14781,SUGAR_USD,tradeable,2017-11-22T15:30:10.980795219Z,True,PRICE,2000000,2000000
9,0.87233,0.87207,0.87233,0.87207,NZD_CAD,tradeable,2017-11-22T15:30:14.896329717Z,True,PRICE,7296820,7296820
10,2.942,2.935,2.942,2.935,NATGAS_USD,tradeable,2017-11-22T15:30:07.646380559Z,True,PRICE,100000,100000
11,0.72886,0.72860,0.72886,0.72860,SGD_CHF,tradeable,2017-11-22T15:30:12.332391561Z,True,PRICE,6748024,6748024
12,408.0,407.5,408.0,407.5,TWIX_USD,tradeable,2017-11-22T15:27:38.601799132Z,True,PRICE,1000,1000
13,1.93832,1.93775,1.93832,1.93775,GBP_NZD,tradeable,2017-11-22T15:30:14.917862893Z,True,PRICE,3765343,3765343
14,1.17938,1.17925,1.17953,1.17910,EUR_USD,tradeable,2017-11-22T15:30:12.374429942Z,True,PRICE,4239731,4239731
15,25.02404,24.99193,25.02404,24.99193,XAG_NZD,tradeable,2017-11-22T15:30:14.917774319Z,True,PRICE,100000,100000
16,18.75687,18.75124,18.75687,18.75124,USD_MXN,tradeable,2017-11-22T15:30:15.049273566Z,True,PRICE,2000000,2000000
17,22.58770,22.56078,22.58770,22.56078,XAG_AUD,tradeable,2017-11-22T15:30:11.555935805Z,True,PRICE,100000,100000
18,313.380,313.199,313.380,313.199,EUR_HUF,tradeable,2017-11-22T15:30:14.045434546Z,True,PRICE,1695892,1695892
19,1.02468,1.02432,1.02468,1.02432,AUD_SGD,tradeable,2017-11-22T15:30:12.332323034Z,True,PRICE,6586747,6586747
20,87.732,87.711,87.732,87.711,CAD_JPY,tradeable,2017-11-22T15:30:14.836670787Z,True,PRICE,6364549,6364549
21,0.88815,0.88800,0.88815,0.88800,EUR_GBP,tradeable,2017-11-22T15:30:12.573487158Z,True,PRICE,4239731,4239731
22,1.72133,1.72086,1.72133,1.72086,EUR_NZD,tradeable,2017-11-22T15:30:13.343375561Z,True,PRICE,4239731,4239731
23,8.060,8.048,8.060,8.048,ZAR_JPY,tradeable,2017-11-22T15:30:14.122924962Z,True,PRICE,10000000,10000000
24,1642.342,1641.718,1642.342,1641.718,XAU_CAD,tradeable,2017-11-22T15:30:15.043422832Z,True,PRICE,2000,2000

# Test: Get Some Historical Prices

Singapore 30 CFD: SG30_SGD

#### Firstly, 100 prices @ 30 seconds

In [81]:
params = {'count': 20,'granularity': 'S30'}
r = instruments.InstrumentsCandles(instrument="EUR_USD",params=params)
res = api.request(r)

In [82]:
# Okie Dokie, we need to parse some info
# Let's write a little helper
def parseOHLC(df):
    temp_df = df.copy()
    temp_df['open'] = df.mid.apply(lambda x: x['o'])
    temp_df['high'] = df.mid.apply(lambda x: x['h'])
    temp_df['low'] = df.mid.apply(lambda x: x['l'])
    temp_df['close'] = df.mid.apply(lambda x: x['c'])
    temp_df.drop('mid',axis=1, inplace=True)
    temp_df = temp_df.reindex(columns = ['open','high','low','close','volume','time','complete'])
    return temp_df

parseOHLC(pd.DataFrame(res['candles']))

,open,high,low,close,volume,time,complete
0,1.17909,1.17932,1.17909,1.17925,28,2017-11-22T15:40:00.000000000Z,True
1,1.17924,1.17926,1.17910,1.17912,47,2017-11-22T15:40:30.000000000Z,True
2,1.17912,1.17916,1.17898,1.17902,43,2017-11-22T15:41:00.000000000Z,True
3,1.17902,1.17925,1.17895,1.17921,41,2017-11-22T15:41:30.000000000Z,True
4,1.17916,1.17922,1.17898,1.17912,42,2017-11-22T15:42:00.000000000Z,True
5,1.17912,1.17914,1.17910,1.17914,17,2017-11-22T15:42:30.000000000Z,True
6,1.17916,1.17930,1.17914,1.17918,15,2017-11-22T15:43:00.000000000Z,True
7,1.17914,1.17926,1.17914,1.17914,20,2017-11-22T15:43:30.000000000Z,True
8,1.17916,1.17916,1.17904,1.17904,36,2017-11-22T15:44:00.000000000Z,True
9,1.17902,1.17910,1.17896,1.17902,22,2017-11-22T15:44:30.000000000Z,True
10,1.17906,1.17920,1.17906,1.17920,6,2017-11-22T15:45:00.000000000Z,True
11,1.17916,1.17916,1.17908,1.17908,27,2017-11-22T15:45:30.000000000Z,True
12,1.17912,1.17922,1.17907,1.17907,20,2017-11-22T15:46:00.000000000Z,True
13,1.17904,1.17904,1.17896,1.17896,8,2017-11-22T15:46:30.000000000Z,True
14,1.17894,1.17914,1.17894,1.17910,10,2017-11-22T15:47:00.000000000Z,True
15,1.17906,1.17921,1.17906,1.17913,21,2017-11-22T15:47:30.000000000Z,True
16,1.17908,1.17920,1.17900,1.17920,33,2017-11-22T15:48:00.000000000Z,True
17,1.17922,1.17932,1.17922,1.17928,12,2017-11-22T15:48:30.000000000Z,True
18,1.17932,1.17935,1.17922,1.17924,35,2017-11-22T15:49:00.000000000Z,True
19,1.17918,1.17918,1.17912,1.17918,20,2017-11-22T15:49:30.000000000Z,False

#### 5 minutes

In [83]:
params = {'count': 20,'granularity': 'M5'}
r = instruments.InstrumentsCandles(instrument="EUR_USD",params=params)
res = api.request(r)
parseOHLC(pd.DataFrame(res['candles']))

,open,high,low,close,volume,time,complete
0,1.17582,1.17598,1.17570,1.17589,138,2017-11-22T14:15:00.000000000Z,True
1,1.17594,1.17609,1.17589,1.17595,126,2017-11-22T14:20:00.000000000Z,True
2,1.17598,1.17680,1.17593,1.17669,381,2017-11-22T14:25:00.000000000Z,True
3,1.17669,1.17746,1.17665,1.17736,551,2017-11-22T14:30:00.000000000Z,True
4,1.17738,1.17740,1.17697,1.17726,400,2017-11-22T14:35:00.000000000Z,True
5,1.17726,1.17740,1.17710,1.17734,233,2017-11-22T14:40:00.000000000Z,True
6,1.17738,1.17782,1.17736,1.17746,267,2017-11-22T14:45:00.000000000Z,True
7,1.17748,1.17780,1.17734,1.17734,184,2017-11-22T14:50:00.000000000Z,True
8,1.17731,1.17777,1.17716,1.17762,175,2017-11-22T14:55:00.000000000Z,True
9,1.17764,1.17778,1.17723,1.17723,178,2017-11-22T15:00:00.000000000Z,True
10,1.17718,1.17812,1.17718,1.17798,345,2017-11-22T15:05:00.000000000Z,True
11,1.17802,1.17876,1.17800,1.17876,320,2017-11-22T15:10:00.000000000Z,True
12,1.17876,1.17946,1.17865,1.17925,406,2017-11-22T15:15:00.000000000Z,True
13,1.17921,1.17945,1.17896,1.17945,306,2017-11-22T15:20:00.000000000Z,True
14,1.17950,1.17968,1.17912,1.17920,315,2017-11-22T15:25:00.000000000Z,True
15,1.17919,1.17967,1.17912,1.17964,234,2017-11-22T15:30:00.000000000Z,True
16,1.17965,1.17965,1.17901,1.17908,351,2017-11-22T15:35:00.000000000Z,True
17,1.17909,1.17932,1.17895,1.17902,311,2017-11-22T15:40:00.000000000Z,True
18,1.17906,1.17935,1.17894,1.17918,192,2017-11-22T15:45:00.000000000Z,True
19,1.17914,1.17914,1.17902,1.17902,12,2017-11-22T15:50:00.000000000Z,False

#### 1 hour

In [84]:
params = {'count': 20,'granularity': 'H1'}
r = instruments.InstrumentsCandles(instrument="EUR_USD",params=params)
res = api.request(r)
parseOHLC(pd.DataFrame(res['candles']))

,open,high,low,close,volume,time,complete
0,1.17428,1.17455,1.17350,1.17390,1096,2017-11-21T20:00:00.000000000Z,True
1,1.17387,1.17434,1.17350,1.17388,639,2017-11-21T21:00:00.000000000Z,True
2,1.17388,1.17422,1.17328,1.17342,1587,2017-11-21T22:00:00.000000000Z,True
3,1.17344,1.17476,1.17332,1.17418,878,2017-11-21T23:00:00.000000000Z,True
4,1.17412,1.17478,1.17374,1.17408,1100,2017-11-22T00:00:00.000000000Z,True
5,1.17404,1.17417,1.17356,1.17389,1011,2017-11-22T01:00:00.000000000Z,True
6,1.17392,1.17405,1.17353,1.17368,588,2017-11-22T02:00:00.000000000Z,True
7,1.17362,1.17404,1.17349,1.17386,603,2017-11-22T03:00:00.000000000Z,True
8,1.17384,1.17444,1.17381,1.17417,342,2017-11-22T04:00:00.000000000Z,True
9,1.17418,1.17454,1.17394,1.17445,426,2017-11-22T05:00:00.000000000Z,True
10,1.17442,1.17562,1.17419,1.17510,1110,2017-11-22T06:00:00.000000000Z,True
11,1.17512,1.17616,1.17476,1.17576,1830,2017-11-22T07:00:00.000000000Z,True
12,1.17574,1.17712,1.17552,1.17694,2632,2017-11-22T08:00:00.000000000Z,True
13,1.17698,1.17731,1.17564,1.17568,1442,2017-11-22T09:00:00.000000000Z,True
14,1.17568,1.17568,1.17484,1.17502,1275,2017-11-22T10:00:00.000000000Z,True
15,1.17504,1.17550,1.17456,1.17530,1143,2017-11-22T11:00:00.000000000Z,True
16,1.17526,1.17528,1.17357,1.17426,2111,2017-11-22T12:00:00.000000000Z,True
17,1.17426,1.17544,1.17406,1.17510,2709,2017-11-22T13:00:00.000000000Z,True
18,1.17511,1.17782,1.17500,1.17762,3033,2017-11-22T14:00:00.000000000Z,True
19,1.17764,1.17968,1.17718,1.17900,2971,2017-11-22T15:00:00.000000000Z,False

#### 1 Day

In [85]:
params = {'count': 20,'granularity': 'D'}
r = instruments.InstrumentsCandles(instrument="EUR_USD",params=params)
res = api.request(r)
parseOHLC(pd.DataFrame(res['candles']))

,open,high,low,close,volume,time,complete
0,1.18126,1.18370,1.16406,1.16519,70766,2017-10-25T21:00:00.000000000Z,True
1,1.16524,1.16576,1.15741,1.16080,63362,2017-10-26T21:00:00.000000000Z,True
2,1.16096,1.16578,1.15936,1.16517,39476,2017-10-29T21:00:00.000000000Z,True
3,1.16495,1.16614,1.16248,1.16458,35794,2017-10-30T21:00:00.000000000Z,True
4,1.16457,1.16575,1.16066,1.16194,45571,2017-10-31T21:00:00.000000000Z,True
5,1.16194,1.16878,1.16132,1.16584,56259,2017-11-01T21:00:00.000000000Z,True
6,1.16578,1.16914,1.15994,1.16101,46202,2017-11-02T21:00:00.000000000Z,True
7,1.16172,1.16244,1.15804,1.16096,36085,2017-11-05T22:00:00.000000000Z,True
8,1.16115,1.16157,1.15539,1.15867,42378,2017-11-06T22:00:00.000000000Z,True
9,1.15888,1.16114,1.15790,1.15944,32644,2017-11-07T22:00:00.000000000Z,True
10,1.15959,1.16550,1.15856,1.16416,47980,2017-11-08T22:00:00.000000000Z,True
11,1.16384,1.16780,1.16228,1.16650,31962,2017-11-09T22:00:00.000000000Z,True
12,1.16585,1.16754,1.16376,1.16670,25887,2017-11-12T22:00:00.000000000Z,True
13,1.16685,1.18052,1.16614,1.17980,42447,2017-11-13T22:00:00.000000000Z,True
14,1.17940,1.18612,1.17846,1.17912,55837,2017-11-14T22:00:00.000000000Z,True
15,1.17916,1.18009,1.17568,1.17694,43766,2017-11-15T22:00:00.000000000Z,True
16,1.17714,1.18216,1.17654,1.17910,44432,2017-11-16T22:00:00.000000000Z,True
17,1.17910,1.18083,1.17221,1.17326,50757,2017-11-19T22:00:00.000000000Z,True
18,1.17344,1.17578,1.17130,1.17388,36675,2017-11-20T22:00:00.000000000Z,True
19,1.17388,1.17968,1.17328,1.17894,26812,2017-11-21T22:00:00.000000000Z,False

#### 1 Week

In [86]:
params = {'count': 20,'granularity': 'W'}
r = instruments.InstrumentsCandles(instrument="EUR_USD",params=params)
res = api.request(r)
parseOHLC(pd.DataFrame(res['candles']))

,open,high,low,close,volume,time,complete
0,1.13985,1.14894,1.13706,1.14688,117042,2017-07-07T21:00:00.000000000Z,True
1,1.14741,1.16826,1.14350,1.16642,159465,2017-07-14T21:00:00.000000000Z,True
2,1.16635,1.17770,1.16128,1.17498,287891,2017-07-21T21:00:00.000000000Z,True
3,1.17482,1.19108,1.17232,1.17734,265836,2017-07-28T21:00:00.000000000Z,True
4,1.17738,1.18476,1.16888,1.18219,235670,2017-08-04T21:00:00.000000000Z,True
5,1.18220,1.18384,1.16622,1.17607,261064,2017-08-11T21:00:00.000000000Z,True
6,1.17550,1.19415,1.17314,1.19232,206794,2017-08-18T21:00:00.000000000Z,True
7,1.19458,1.20705,1.18232,1.18598,302914,2017-08-25T21:00:00.000000000Z,True
8,1.18842,1.20928,1.18684,1.20353,342462,2017-09-01T21:00:00.000000000Z,True
9,1.20179,1.20297,1.18373,1.19476,278403,2017-09-08T21:00:00.000000000Z,True
10,1.19205,1.20353,1.18616,1.19478,286306,2017-09-15T21:00:00.000000000Z,True
11,1.18988,1.19363,1.17170,1.18150,264170,2017-09-22T21:00:00.000000000Z,True
12,1.17919,1.18156,1.16692,1.17326,212820,2017-09-29T21:00:00.000000000Z,True
13,1.17324,1.18800,1.17197,1.18234,182412,2017-10-06T21:00:00.000000000Z,True
14,1.18140,1.18668,1.17302,1.17799,187827,2017-10-13T21:00:00.000000000Z,True
15,1.17799,1.18370,1.15741,1.16080,257307,2017-10-20T21:00:00.000000000Z,True
16,1.16096,1.16914,1.15936,1.16101,223302,2017-10-27T21:00:00.000000000Z,True
17,1.16172,1.16780,1.15539,1.16650,191049,2017-11-03T21:00:00.000000000Z,True
18,1.16585,1.18612,1.16376,1.17910,212369,2017-11-10T22:00:00.000000000Z,True
19,1.17910,1.18083,1.17130,1.17896,114252,2017-11-17T22:00:00.000000000Z,False

#### 1 Month

In [87]:
params = {'count': 20,'granularity': 'M'}
r = instruments.InstrumentsCandles(instrument="EUR_USD",params=params)
res = api.request(r)
parseOHLC(pd.DataFrame(res['candles']))

,open,high,low,close,volume,time,complete
0,1.13804,1.14650,1.12182,1.14497,613949,2016-03-31T21:00:00.000000000Z,True
1,1.14616,1.16164,1.10980,1.11318,485098,2016-04-30T21:00:00.000000000Z,True
2,1.11316,1.14282,1.09117,1.11062,907898,2016-05-31T21:00:00.000000000Z,True
3,1.10990,1.11975,1.09523,1.11746,564750,2016-06-30T21:00:00.000000000Z,True
4,1.11748,1.13664,1.10458,1.11582,415741,2016-07-31T21:00:00.000000000Z,True
5,1.11580,1.13272,1.11232,1.12425,470528,2016-08-31T21:00:00.000000000Z,True
6,1.12305,1.12447,1.08510,1.09820,433103,2016-09-30T21:00:00.000000000Z,True
7,1.09808,1.12998,1.05181,1.05894,821938,2016-10-31T21:00:00.000000000Z,True
8,1.05924,1.08745,1.03524,1.05198,651753,2016-11-30T22:00:00.000000000Z,True
9,1.04684,1.08124,1.03406,1.07975,800963,2016-12-31T22:00:00.000000000Z,True
10,1.07980,1.08290,1.04938,1.05764,518658,2017-01-31T22:00:00.000000000Z,True
11,1.05755,1.09060,1.04950,1.06548,816131,2017-02-28T22:00:00.000000000Z,True
12,1.06624,1.09508,1.05698,1.08962,548289,2017-03-31T21:00:00.000000000Z,True
13,1.09130,1.12684,1.08393,1.12433,480162,2017-04-30T21:00:00.000000000Z,True
14,1.12466,1.14454,1.11191,1.14252,472109,2017-05-31T21:00:00.000000000Z,True
15,1.14186,1.18460,1.13126,1.18424,715374,2017-06-30T21:00:00.000000000Z,True
16,1.18414,1.20705,1.16622,1.19090,1143413,2017-07-31T21:00:00.000000000Z,True
17,1.19090,1.20928,1.17170,1.18150,1248885,2017-08-31T21:00:00.000000000Z,True
18,1.17919,1.18800,1.15741,1.16458,915636,2017-09-30T21:00:00.000000000Z,True
19,1.16457,1.18612,1.15539,1.17900,665723,2017-10-31T21:00:00.000000000Z,False

# Open/Pending/Cancel orders

In [93]:
# Long EUR_USD
# This one should go through

data = {
  "order": {
    "price": "1.18",
    "instrument": "EUR_USD",
    "units": "100",
    "type": "LIMIT",
    "positionFill": "DEFAULT"
  }
}
r = orders.OrderCreate(accountnumber, data=data)
api.request(r)
pd.Series(r.response['orderFillTransaction'])

accountBalance                                          100000.0000
accountID                                       101-011-7219704-001
batchID                                                           6
commission                                                   0.0000
financing                                                    0.0000
fullPrice         {u'closeoutAsk': u'1.17910', u'timestamp': u'2...
id                                                                7
instrument                                                  EUR_USD
orderID                                                           6
pl                                                           0.0000
price                                                       1.17895
reason                                                  LIMIT_ORDER
requestID                                         42367928423664088
time                                 2017-11-22T16:05:02.613422725Z
tradeOpened                    {u'units': u'100', u'tradeID': u'7'}
type                                                     ORDER_FILL
units                                                           100
userID                                                      7219704
dtype: object

In [95]:
# Long EUR_USD @ low price
# This one should NOT go through

data = {
  "order": {
    "price": "1.00",
    "instrument": "EUR_USD",
    "units": "100",
    "type": "LIMIT",
    "positionFill": "DEFAULT"
  }
}
r = orders.OrderCreate(accountnumber, data=data)
api.request(r)
pd.Series(r.response)

lastTransactionID                                                         9
orderCreateTransaction    {u'batchID': u'9', u'triggerCondition': u'DEFA...
relatedTransactionIDs                                                   [9]
dtype: object

## Check pending orders

In [103]:
r = orders.OrdersPending(accountnumber)
pending = pd.DataFrame(api.request(r)['orders'])
pending

,createTime,id,instrument,partialFill,positionFill,price,state,timeInForce,triggerCondition,type,units
0,2017-11-22T16:05:54.335555369Z,9,EUR_USD,DEFAULT_FILL,DEFAULT,1.00000,PENDING,GTC,DEFAULT,LIMIT,100
1,2017-11-22T16:05:41.833992841Z,8,EUR_USD,DEFAULT_FILL,DEFAULT,1.00000,PENDING,GTC,DEFAULT,LIMIT,100

## Cancel all pending orders

In [106]:
for order_id in pending.id:
    r = orders.OrderCancel(accountID= accountnumber, orderID=int(order_id))
    api.request(r)
    print r.response

{u'orderCancelTransaction': {u'orderID': u'9', u'userID': 7219704, u'batchID': u'10', u'reason': u'CLIENT_REQUEST', u'requestID': u'24353532814176062', u'time': u'2017-11-22T16:16:33.226877891Z', u'type': u'ORDER_CANCEL', u'id': u'10', u'accountID': u'101-011-7219704-001'}, u'lastTransactionID': u'10', u'relatedTransactionIDs': [u'10']}
{u'orderCancelTransaction': {u'orderID': u'8', u'userID': 7219704, u'batchID': u'11', u'reason': u'CLIENT_REQUEST', u'requestID': u'24353532814177039', u'time': u'2017-11-22T16:16:33.514586150Z', u'type': u'ORDER_CANCEL', u'id': u'11', u'accountID': u'101-011-7219704-001'}, u'lastTransactionID': u'11', u'relatedTransactionIDs': [u'11']}

In [107]:
r = orders.OrdersPending(accountnumber)
pending = pd.DataFrame(api.request(r)['orders'])
pending

Empty DataFrame
Columns: []
Index: []

# List all open trades

In [109]:
r = trades.OpenTrades(accountID=accountnumber)
api.request(r)
openTrades = pd.DataFrame(r.response['trades'])
openTrades

,currentUnits,financing,id,initialUnits,instrument,openTime,price,realizedPL,state,unrealizedPL
0,100,0.0000,7,100,EUR_USD,2017-11-22T16:05:02.613422725Z,1.17895,0.0000,OPEN,0.0690
1,100,0.0000,5,100,EUR_USD,2017-11-22T16:04:33.734302135Z,1.17895,0.0000,OPEN,0.0690

# Close all positions

In [110]:
for trade_id in openTrades.id:
    r = trades.TradeClose(accountID=accountnumber, tradeID=int(trade_id))
    api.request(r)
    print r.response

{u'orderFillTransaction': {u'orderID': u'12', u'financing': u'-0.0001', u'accountBalance': u'100000.0689', u'commission': u'0.0000', u'price': u'1.17964', u'fullPrice': {u'closeoutAsk': u'1.17992', u'timestamp': u'2017-11-22T16:20:39.486183474Z', u'closeoutBid': u'1.17949', u'bids': [{u'price': u'1.17964', u'liquidity': u'10000000'}], u'asks': [{u'price': u'1.17977', u'liquidity': u'10000000'}]}, u'userID': 7219704, u'batchID': u'12', u'instrument': u'EUR_USD', u'reason': u'MARKET_ORDER_TRADE_CLOSE', u'tradesClosed': [{u'units': u'-100', u'financing': u'-0.0001', u'realizedPL': u'0.0690', u'tradeID': u'7'}], u'time': u'2017-11-22T16:20:52.699932635Z', u'units': u'-100', u'requestID': u'24353533901340151', u'type': u'ORDER_FILL', u'id': u'13', u'pl': u'0.0690', u'accountID': u'101-011-7219704-001'}, u'orderCreateTransaction': {u'batchID': u'12', u'positionFill': u'REDUCE_ONLY', u'userID': 7219704, u'timeInForce': u'FOK', u'instrument': u'EUR_USD', u'reason': u'TRADE_CLOSE', u'tradeClose': {u'units': u'ALL', u'tradeID': u'7'}, u'requestID': u'24353533901340151', u'time': u'2017-11-22T16:20:52.699932635Z', u'units': u'-100', u'type': u'MARKET_ORDER', u'id': u'12', u'accountID': u'101-011-7219704-001'}, u'lastTransactionID': u'13', u'relatedTransactionIDs': [u'12', u'13']}
{u'orderFillTransaction': {u'orderID': u'14', u'financing': u'-0.0001', u'accountBalance': u'100000.1378', u'commission': u'0.0000', u'price': u'1.17964', u'fullPrice': {u'closeoutAsk': u'1.17992', u'timestamp': u'2017-11-22T16:20:39.486183474Z', u'closeoutBid': u'1.17949', u'bids': [{u'price': u'1.17964', u'liquidity': u'9999900'}], u'asks': [{u'price': u'1.17977', u'liquidity': u'10000000'}]}, u'userID': 7219704, u'batchID': u'14', u'instrument': u'EUR_USD', u'reason': u'MARKET_ORDER_TRADE_CLOSE', u'tradesClosed': [{u'units': u'-100', u'financing': u'-0.0001', u'realizedPL': u'0.0690', u'tradeID': u'5'}], u'time': u'2017-11-22T16:20:52.989969131Z', u'units': u'-100', u'requestID': u'24353533901341087', u'type': u'ORDER_FILL', u'id': u'15', u'pl': u'0.0690', u'accountID': u'101-011-7219704-001'}, u'orderCreateTransaction': {u'batchID': u'14', u'positionFill': u'REDUCE_ONLY', u'userID': 7219704, u'timeInForce': u'FOK', u'instrument': u'EUR_USD', u'reason': u'TRADE_CLOSE', u'tradeClose': {u'units': u'ALL', u'tradeID': u'5'}, u'requestID': u'24353533901341087', u'time': u'2017-11-22T16:20:52.989969131Z', u'units': u'-100', u'type': u'MARKET_ORDER', u'id': u'14', u'accountID': u'101-011-7219704-001'}, u'lastTransactionID': u'15', u'relatedTransactionIDs': [u'14', u'15']}

# Check Portfolio

In [112]:
r = accounts.AccountSummary(accountnumber)
api.request(r)
pd.Series(r.response['account'])

NAV                                               100000.1378
alias                                                 Primary
balance                                           100000.1378
commission                                             0.0000
createdByUserID                                       7219704
createdTime                    2017-11-22T14:21:54.022373774Z
currency                                                  USD
financing                                             -0.0002
hedgingEnabled                                          False
id                                        101-011-7219704-001
lastTransactionID                                          15
marginAvailable                                   100000.1378
marginCallMarginUsed                                   0.0000
marginCallPercent                                     0.00000
marginCloseoutMarginUsed                               0.0000
marginCloseoutNAV                                 100000.1378
marginCloseoutPercent                                 0.00000
marginCloseoutPositionValue                            0.0000
marginCloseoutUnrealizedPL                             0.0000
marginRate                                               0.02
marginUsed                                             0.0000
openPositionCount                                           0
openTradeCount                                              0
pendingOrderCount                                           0
pl                                                     0.1380
positionValue                                          0.0000
resettablePL                                           0.1380
unrealizedPL                                           0.0000
withdrawalLimit                                   100000.1378
dtype: object